[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-core = "*"
langchain-community = "*"
jupyter = "*"
langchain-openai = "*"
boto3 = "*"
langchain-aws = "*"
nltk = "*"
unstructured = {extras = ["md"], version = "*"}
chromadb = "*"

[dev-packages]

[requires]
python_version = "3.12"
